.card-list {
  width: 89.07%;
  margin: 80px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-list__error {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 14px;
  text-align: right;
  padding: 0;
  color: #FF004C;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.card-list__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 24px;
}

.card-list__more-button {
  width: 100%;
  height: 36px;
  padding: 1px 0 0 0;
  margin: 47px auto 90px;
  border: none;
  border-radius: 6px;
  background: #2F2F2F;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}

.card-list__more-button:hover {
  opacity: 0.8;
  transition: 0.5s  ;
}
.card-list__more-button_hide {
  display: none;
}

@media screen and (max-width: 850px) {
  .card-list {
    width: 92.19%;
    margin: 80px auto 0;
  }

  .card-list__list {
    gap: 30px;
  }

  .card-list__list_saved {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .card-list__list_saved {
    justify-content: center;
  }
}

@media screen and (max-width: 370px) {
  .card-list {
    width: 93.75%;
    margin: 50px auto 0;
  }

  .card-list__list {
    gap: 14px;
  }

  .card-list__more-button {
    margin: 24px auto 113px;
  }
}
