.navigation {
  width: 100%;
  margin: 0 70px 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.navigation_landing {
  justify-content: flex-end;
}

.navigation_landing-unauth {
  margin-right: 70px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navigation_landing-auth {
  justify-content: flex-end;
}

.navigation_main {
  justify-content: space-between;
}

.navigation__burger {
  display: none;
}

.navigation__link {
  text-decoration: none;
  margin: 0;
  color: #FFF;
}

.navigation__navbar {
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation__navbar_landing {
  justify-content:flex-end;
  padding-left: 0;
  margin-right: 0;
  width: 80%;
}

.navigation__navbar_main {
  padding-left: 0;
  padding-bottom: 3px;
  margin-right: 0;
  width: 80%;
}

.navigation__navbar-item {
  margin: auto 0;
  color: #FFF;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.navigation__navbar-item_active {
  border-bottom: 1px solid #FFF;
  padding: 8px 0;
}

.navigation__navbar-item_landing {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.navigation__navbar-item_landing:last-child {
  margin: 0 41px 0 20px;
}

.navigation__navbar-item_main {
  margin-left: 5px;
  font-size: 13px;
  line-height: 18px;
}

.navigation__navbar-item_main:last-child {
  margin-left: 15px;
  margin-right: 0;
  justify-self: flex-end;
}

.navigation__navbar-item:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.navigation__navbar-item_unauth {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.navigation__navbar-item_unauth:last-child {
  margin: 0 0 0 0px;
  padding: 0;
}

.navigation__button {
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  border: 0;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  background: #3DDC84;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.navigation__button:hover, .navigation__button-landing:hover, .navigation__button-main:hover {
  opacity: 0.8;
  transition: 0.5s;
  cursor: pointer;
}

.navigation__button-main {
  margin: 0 2px 3px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 100px;
  min-height: 32px;
  margin-left: 4px;
  padding: 0;
  border-radius: 40px;
  border: none;
  background-color: #202020;
  color: #FFF;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px;
}

.navigation__button-landing {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 109px;
  min-height: 32px;
  padding: 0;
  border-radius: 20px;
  border: 2px solid #f5f5f5;
  background-color: transparent;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.button-landing__icon {
  width: 12px;
  height: 14px;
  margin: auto 8px auto 0;
}

.button-main__icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  width: 26px;
  height: 26px;
  background-color: #313131;
  border-radius: 50px;
}

.button-main__icon {
  width: 10.4px;
  height: 10.7px;
  background-color: #313131;
  border-radius: 50px;
}

.button-main__name {
  margin: 0 2px 0;
}

.navigation__menu {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  flex-direction: column;
  width: 67.7%;
  height: 1024px;
  background-color: #202020;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s;
  overflow: hidden;
}

@media screen and (max-width: 768px){
  .navigation {
    margin-right: 30px;
    display: none;
  }

  .navigation_landing-auth {
    display: none;
  }

  .navigation__menu_open {
    position: absolute;
    top:0;
    right: 0;
    background: #202020;
    z-index: 2;
    transform: translateX(0);
    transition: transform 0.5s;
  }

  .navigation__navbar {
    flex-direction: column;
    margin-top: 160px;
  }

  .navigation__navbar-item {
    margin-bottom: 29px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
  }

  .navigation__navbar-item_active {
    padding: 0 0 4px;
    margin-bottom: 24px;
  }

  .navigation__navbar-item:last-child {
    margin: 0;
  }

  .navigation__navbar-item_active:last-child {
    padding: 0 0 4px;
  }

  .navigation__burger {
    display: flex;
    align-self: center;
    margin: 0 30px 4px 0;
    width: 44px;
    height: 44px;
    background: transparent url('../../images/navigation-burger.svg') center no-repeat;
    background-size: 44px 44px;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 2;
  }

  .navigation__burger:hover {
    opacity: 0.8;
  }

  .navigation__burger_active {
    z-index: 3;
    position: absolute;
    top: 23px;
    right: -7px;
    width: 30px;
    height: 30px;
    background: transparent url('../../images/navigation-close-menu.svg') center no-repeat;
  }

  .navigation__button-landing, .navigation__button-main {
    margin: 602px 0 0 0;
    align-self: center;
    justify-content: center;
    width: 60px;
    text-align: right;
  }

  .button-main__icon-background {
    margin-left: 0;
  }

  .button-main__name {
    margin: 0 8px 0;
  }

  .navigation__navbar_unauth {
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .navigation__button_unauth {
    margin: 0;
    padding: 0;
  }

  .navigation_landing-unauth {
    display: flex;
    margin-right: 30px;
  }

  .navigation__navbar-item_unauth {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }

  .navigation__navbar-item_unauth:last-child {
    margin: 0 0 0 30px;
    padding: 0;
  }
}

@media screen and (max-width:370px) {
  .navigation__burger {
    margin: 0 19px 4px 0;
    width: 30px;
    height: 30px;
    background-size: 35px 40px;
  }

  .navigation__burger_active {
    top: 21px;
    right: 2px;
    width: 16px;
    height: 16px;
    background-size: 32px 32px;
  }

  .navigation__menu {
    width: 100%;
    height: 780px;
  }

  .navigation__navbar {
    margin-top: 145px;
  }

  .navigation__navbar-item {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .navigation__navbar-item_active {
    padding-bottom: 8px;
    margin-bottom: 16px;
  }

  .navigation__button-main {
    margin: 425px 0 0 0;
    align-self: center;
    justify-content: center;
    width: 60px;
    text-align: right;
  }

  .navigation__button-landing, .navigation__button-main {
    margin: 425px 0 0 0;
  }
}
