.login {
  max-width: 396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.login__header {
  background-color: #202020;
}

.login__title {
  display: flex;
  color: #FFF;
  justify-self: flex-start;
  margin: 19px 0 40px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login__form-label {
  width: 100%;
  margin-bottom: 10px;
  color: #8B8B8B;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.login__form-input {
  min-height: 44px;
  color: #FFF;
  margin-bottom:3px;
  padding-left: 15px;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  border: none;
  border-radius: 8px;
  background: #2F2F2F;
}

.login__input-error {
  width: 100%;
  margin-bottom: 3px;
  min-height: 14px;
  text-align: right;
  padding: 0;
  color: #FF004C;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

.login__form-input:last-child {
  margin: 0;
}

.login__server-error {
  width: 100%;
  margin-top: 142px;
  margin-bottom: 3px;
  min-height: 14px;
  text-align: center;
  padding: 0;
  color: #FF004C;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

.login__enter {
  width: 100%;
  height: 45px;
  padding: 0;
  border: none;
  border-radius: 3px;
  background: #4285F4;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.login__assumption {
  margin: 16px 0 0;
  color: #8B8B8B;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.login__link {
  text-decoration: none;
  margin-left: 6px;
  color: #4285F4;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .login__header {
    margin-top: 162px;
  }
}

@media screen and (max-width: 440px) {
  .login {
    justify-items: center;
  }
  .login__header {
    margin-top: 0;
  }

  .login__title {
    justify-content: center;
    margin: 29px 0 80px 0;
  }

  .login__form {
    width: 81%;
    margin: 0 auto;
  }

  .login__server-error {
    margin-top: 230px;
  }

  .login__enter {
    font-size: 12px;
  }

  .login__assumption {
    margin: 14px 0 0;
    font-size: 12px;
  }

  .login__link {
    margin-left: 8px;
    font-size: 12px;
  }
}
