.nav-tab {
  display: flex;
  justify-content: center;
  background-color: #272727;
}

.nav-tab__item {
  margin: 26px 40px 24px 0;
  padding: 0;
  color: #FFF;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-decoration-line: none;
  border-bottom: 1px solid #FFF;
}

.nav-tab__item:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.nav-tab__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 370px) {
  .nav-tab__item {
    margin-top: 25px;
    margin-right: 25px;
    padding-bottom: 0.05px;
    font-size: 11px;
  }
}
